<div class="home">
    <app-banner [banners]="banners"></app-banner>
    <!-- caategory -->
    <div class="scroll-container">
        <div class="category" [style.transform]="'translateX(' + translateX + 'px)'">
          <div class="category-item" *ngFor="let item of categorys">
            <img [src]="item.img" alt="">
            {{ item.title }}
          </div>
        </div>
        <button class="scroll-left" (click)="scrollLeft()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button class="scroll-right" (click)="scrollRight()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
    <!-- list -->
    <div class="list">
        <div class="list-item" (click)="productToDetail(item)" *ngFor="let item of products">
            <img [src]="item.thumbnail" alt="product">
            <div class="tag">-{{item.discountPercentage}}%</div>
            <div class="detail">
               <div>
                  <p class="name">{{item.title | truncate: 32}}</p>
                  <div class="promotion">New Promotion 80% OFF</div>
               </div>
                <div class="footer">
                    <p class="price">฿{{item.price}}</p>
                    <p class="sold">{{item.stock}}k sold</p>
                 </div>
            </div>
        </div>
    </div>
</div>
