@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import '../../../../../styles.scss';

.navbar {
    background: #232f3e;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;

    .nav-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 18rem;

        .nav-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .nav-list {
                color: #fff;
                display: flex;
                justify-content: space-between;
                gap: 16px;

                .item-list {
                    font-weight: 200;
                    opacity: 90%;
                    cursor: pointer;
                }

                .auth-list {
                    display: flex;
                    gap: 10px;

                    .signup, .login {
                        cursor: pointer;
                    }
                    
                }
            }
        }

        .nav-center {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 10px;

                .logo-title {
                    font-family: "Madimi One", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 36px;
                }

                .logo-img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                }
            }

            .search {
                background: #f1f65b;
                display: flex;
                align-items: center;
                width: 100%;
                height: 42px;
                border-radius: 6px;

                input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    padding: 10px;
                    border: none;
                }

                .icon {
                    height: 100%;
                    background: #232f3e;
                    padding: 0 30px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #fff;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }

            .cart {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;

                .count-cart {
                    background: #ffffff;
                    color: $primary;
                    position: absolute;
                    font-size: 12px;
                    font-weight: 600;
                    border: 1px solid $primary;
                    border-radius: 20px;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -12px;
                    right: -12px;
                    width: 28px;
                    height: 20px;
                }

                .icon-cart {
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
                


            }
        }
    }
}


@media screen and (min-width: 767px) and (max-width: 1400px) {
    .navbar {
        .nav-container {
            padding: 0px 4rem;
        }
    }
}



