@import '../../../../../styles.scss';

.detail-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .product-card {
        background: #fff;
        display: flex;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);

        .product-img {
            width: 40%;
            padding: 20px;

            img {
                width: 100%;
                height: 460px;
                object-fit: cover;
                border-radius: 2px;
            }
        }

        .product-detail {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;

            .header {
                display: flex;
                align-items: center;
                gap: 10px;

                .title {
                    font-size: 20px;
                }
            }

            .flags {
                display: flex;
                gap: 14px;
            }

            .price-detail {
                background: #fafafa;
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 20px;

                .discount {
                    color: gray;
                }

                .price {
                    color: #ee4d2d;
                    font-size: 30px;
                    font-weight: 500;
                }

            }

            .shipping-detail {
                color: $text-gray;
                display: flex;
                gap: 60px;
    
                .shipping {
                    display: flex;
                    gap: 40px;
                }
    
                .shipping-options {
                    color: #000;
                }
            }
    
            .quantity-detail {
                color: $text-gray;
                display: flex;
                align-items: center;
                margin-top: 16px;
                gap: 20px;
    
                .quantity-input {
                    display: flex;
                    align-items: center;
                    height: 100%;
    
                    input {
                        width: 48px;
                        padding: 6px;
                        height: 100%;
                        text-align: center;
                        border: 1px solid #c7c7c7;
                        outline: none;
                    }
        
                    button {
                        height: 100%;
                        background: transparent;
                        border: 1px solid #c7c7c7;
                        padding: 0 12px;
                    }
                }
              
            }
    
            .button-detail {
                display: flex;
                align-items: center;
                gap: 14px;
                margin-top: 40px;
    
                .btn-buy ,.btn-add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    width: 180px;
                    height: 52px;
                }
    
                .btn-add {
                    background: #b5d0f45c;
                    color: $primary;
                    border: 1px solid $primary;
                }
    
                .btn-buy {
                    background: $primary;
                    color: #fff;
                }
            }
        }
    }
}

// shared
.tag {
    background: $primary;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    padding: 0 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}